body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	background: white;
	color: rgb(235, 127, 0);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
}

.message {
	position: relative;
}
